In [2]:
#Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
#Data Cleanup
df ['job_posted_date'] = pd.to_datetime(df ['job_posted_date'])

'[WinError 10054] An existing connection was forcibly closed by the remote host' thrown while requesting HEAD https://huggingface.co/datasets/lukebarousse/data_jobs/resolve/ed776e5a0a8c40ea9d5efbd800772ae52e140f3e/data_jobs.py
Retrying in 1s [Retry 1/5].
Using the latest cached version of the dataset since lukebarousse/data_jobs couldn't be found on the Hugging Face Hub
Found the latest cached dataset configuration 'default' at C:\Users\CHAMIKA\.cache\huggingface\datasets\lukebarousse___data_jobs\default\0.0.0\ed776e5a0a8c40ea9d5efbd800772ae52e140f3e (last modified on Sat Feb  7 04:56:30 2026).

In [7]:
median_salary_year = df['salary_year_avg'].median()

In [6]:
median_salary_hour = df['salary_hour_avg'].median()

In [14]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [17]:
df_filled['salary_year_avg']

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64

In [18]:
df_filled.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [19]:
df_unique = df_filled
df_unique = df_unique.drop_duplicates()

In [24]:
print('length of original dataset: ',len(df_filled))
print('length of drop duplicate dataset: ',len(df_unique))
print('rows drop: ', len(df_filled)-len(df_unique))

length of original dataset:  785741
length of drop duplicate dataset:  785640
rows drop:  101

In [25]:
df_unique = df_unique.drop_duplicates(subset=['job_title','company_name'])

print('length of original dataset: ',len(df_filled))
print('length of drop duplicate dataset: ',len(df_unique))
print('rows drop: ', len(df_filled)-len(df_unique))

length of original dataset:  785741
length of drop duplicate dataset:  508042
rows drop:  277699

In [26]:
id(df_filled)

2729026711952

In [27]:
id(df_unique)

2727443318672

In [28]:
id(df)

2729026711952