In [2]:
#Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
#Data Cleanup
df ['job_posted_date'] = pd.to_datetime(df ['job_posted_date'])

'[WinError 10054] An existing connection was forcibly closed by the remote host' thrown while requesting HEAD https://huggingface.co/datasets/lukebarousse/data_jobs/resolve/ed776e5a0a8c40ea9d5efbd800772ae52e140f3e/data_jobs.py
Retrying in 1s [Retry 1/5].
Using the latest cached version of the dataset since lukebarousse/data_jobs couldn't be found on the Hugging Face Hub
Found the latest cached dataset configuration 'default' at C:\Users\CHAMIKA\.cache\huggingface\datasets\lukebarousse___data_jobs\default\0.0.0\ed776e5a0a8c40ea9d5efbd800772ae52e140f3e (last modified on Sat Feb  7 04:56:30 2026).

In [5]:
df.sample(10, random_state=40)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
650315,Senior Data Engineer,Sr. Big Data Engineer,"Atlanta, GA",via LinkedIn,Full-time,False,Georgia,2023-02-03 11:05:29,False,False,United States,None,NaN,NaN,Norfolk Southern Corporation,"['sql', 'scala', 'python', 'nosql', 'shell', '...","{'cloud': ['aws', 'gcp'], 'databases': ['cassa..."
28072,Data Scientist,Data Scientist,Argentina,via LinkedIn,Full-time,False,Argentina,2023-09-25 13:48:48,False,False,Argentina,None,NaN,NaN,Banco Galicia,"['sql', 'r', 'python']","{'programming': ['sql', 'r', 'python']}"
86657,Data Scientist,Consultant(e) Data Science,"Paris, France",via Recruit.net,Full-time,False,France,2023-03-19 00:25:53,False,False,France,None,NaN,NaN,Sia Partners,"['r', 'sas', 'sas', 'python', 'perl', 'bash', ...","{'analyst_tools': ['sas'], 'programming': ['r'..."
678850,Data Analyst,Enterprise Data Operations Analyst,"Peeramcheru, Telangana, India",via LinkedIn,Full-time,False,India,2023-11-02 10:13:44,False,False,India,None,NaN,NaN,PepsiCo,"['c#', 'sql', 'sql server', 'azure', 'react', ...","{'cloud': ['azure'], 'databases': ['sql server..."
154301,Data Analyst,Produktionsplaner / Data Analyst (m|w|d),"Bopfingen, Germany",via BeBee,Full-time,False,Germany,2023-11-11 08:15:32,True,False,Germany,None,NaN,NaN,Voith SE & Co. KG,"['sql', 'vba', 'python', 'javascript', 'sap', ...","{'analyst_tools': ['sap', 'ms access'], 'progr..."
275846,Data Analyst,HR Data Analyst,"Madrid, Spain",via BeBee,Full-time,False,Spain,2023-06-15 07:30:03,True,False,Spain,None,NaN,NaN,Securitas Direct España S.A.U,"['r', 'excel', 'spss', 'qlik', 'power bi']","{'analyst_tools': ['excel', 'spss', 'qlik', 'p..."
684564,Data Analyst,Data Analyst,Hong Kong,via Trabajo.org,Full-time,False,Hong Kong,2023-07-29 10:20:00,True,False,Hong Kong,None,NaN,NaN,Swing Consulting Ltd.,"['python', 'tableau']","{'analyst_tools': ['tableau'], 'programming': ..."
263956,Software Engineer,Senior DevOps Engineer,"Lima, Peru","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Peru,2023-08-30 07:24:48,True,False,Peru,None,NaN,NaN,Emprego,"['java', 'python', 'go', 'kotlin', 'azure', 'a...","{'cloud': ['azure', 'aws', 'gcp'], 'libraries'..."
442931,Senior Data Scientist,Executive (Data Strategy & Performance),"Kuala Lumpur, Federal Territory of Kuala Lumpu...",via BeBee Malaysia,Full-time,False,Malaysia,2023-01-14 16:18:32,False,False,Malaysia,None,NaN,NaN,Petroliam Nasional Berhad (PETRONAS),None,None
359179,Data Analyst,Medior Data Analist,"Eindhoven, Netherlands",via Nationale Vacaturebank,Full-time,False,Netherlands,2023-01-07 23:11:53,False,False,Netherlands,None,NaN,NaN,TMC,"['python', 'sql', 'databricks']","{'cloud': ['databricks'], 'programming': ['pyt..."

In [6]:
df_altered = df.copy()

In [8]:
median_salary_year = df['salary_year_avg'].median()
median_salary_hour = df['salary_hour_avg'].median()

df_altered['salary_year_avg'] = df['salary_year_avg'].fillna(median_salary_year)
df_altered['salary_hour_avg'] = df['salary_hour_avg'].fillna(median_salary_hour)

In [9]:
df_altered.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [10]:
df.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64